@font-face {
  font-family: 'Balonku';
  src: url("../assets/fonts/Sprinklescolors-njrJ.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.title {
  font-family: 'Balonku',  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}